<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
    <style>
        label {
            color: white;
        }

        .page_link{
            background-color: #3e444a;
        }

        .page-item.active .page-link {
            z-index: 3;
            color: #fff;
            background-color: #45596e;
            border-color: white;
        }
    </style>
    <script>
      var targetContainer = document.getElementById("graphcall_messages");
      var source = new EventSource("/graphcall");
      source.onmessage = function (event) {
        var message = event.data.split(";")[0]
        var table_row = event.data.split(";")[1]
        document.getElementById("graphcall_messages").innerHTML = message;
        document.getElementById("graphcall_data").innerHTML += table_row;
        if(event.data.includes("Complete")){
          source.close();
          $(document).ready(function () {
            $('#dataTable').DataTable();
            
          });
        }
      };
    </script>
</head>
<body style="background: #272c30;">
    <center><h1 style="color:white">Personal Access Token Report</h1></center>

    {% if config.get("USERPATENDPOINT") %}
      <center>
      <div id="graphcall_messages" style="max-width: 66%" class="table-dark">Graphcall not yet executed</div>
      
        <div style="max-width: 66%">
            <table id="dataTable" class="table table-striped table-bordered table-hover table-condensed table-dark" style="width: 100%">
                <thead>
                    <tr>
                        <th>DisplayName</th>
                        <th>Owner</th>
                        <th>isValid</th>
                        <th>validFrom</th>
                        <th>validTo</th>
                    </tr>
                </thead>
                <tbody id="graphcall_data">
                </tbody>
            </table>
        </div>
      </center>
      
    {% endif %}

    <li><a href="/logout">Logout</a></li>
    <hr>
    <footer style="text-align: right">Powered by MSAL Python {{ version }}</footer>
</body>
</html>

